name: Package exe with PyInstaller - Windows

on:
  push:
    branches: [ test ]

jobs:
  build_release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: PyInstaller Windows
      uses: JackMcKew/pyinstaller-action-windows@python3-10-pyinstaller-5-3
      with:
        path: src
    - uses: actions/upload-artifact@v2
      with:
        name: palworld-worldoptions
        path: src/dist/windows